{% extends "base.html" %}

{% block css %}
<style type="text/css">
/*a {
	text-transform: uppercase; 
}*/
</style>
{% endblock %}

{% block content %}
<div id="content" style="width:900px;">
	<div class="post">
		<h3 class="title"><a style="text-transform: capitalize;">About me</a></h3>
		<div class="entry" style="padding-bottom: 0px; padding-top:10px; font-size:1.2em;">
			<p>Education: Jxufe(2008.09~2012.07)  Bachelor's degree</p>
			<p>Interest: Python, Web, Music, Travel, Reading, Games etc.</p>
			<p>QQ: 986832933</p>
			<p>E-mail: zjnjxufe@gmail.com</p>
			<p>Addr: Jiangxi nanchang</p>
			<p class="links">
				<a href="#" title="b0x" class="comments"></a>
			</p>
		</div>
	</div>
	<div style="clear: both;">&nbsp;</div>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}
