<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>
	{% block title %}funcle.cn{% endblock %}
</title>
{% block css %}{% endblock %}
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="shortcut icon" href="/static/images/bitbug_favicon.ico" />
</head>
<script src='/static/js/jquery-1.8.2.min.js'></script>
<body>
<div id="wrapper">
	<div id="header-wrapper" class="container">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="{{ url_for('essay.index') }}">funcle</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="{{ url_for('essay.index') }}">Essay</a></li>
					<!-- <li><a href="{{ url_for('photos.index') }}">Photos</a></li> -->
					<li><a href="{{ url_for('contact.index') }}">About</a></li>
				</ul>
			</div>
		</div>
		<div>
			<img src="/static/images/img03.png" width="1000" height="40" alt="" />
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		{% block content %}
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
				<p class="meta"><span class="date">August 20, 2012</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus ut, lobortis a, est.</p>
					<p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">Consecteteur hendrerit </a></h2>
				<p class="meta"><span class="date">August 10, 2012</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus ut, lobortis a, est.</p>
					<p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
		{% endblock %}
		<!-- end #content -->

		{% block sidebar %}
		<div id="sidebar">
			<ul>
				<li>
					<h2>Month</h2>
					<ul>
						{% for k, v in date_dict.items() %}
						<li><a href="{{url_for('essay.display_ym', ym=k)}}" style="text-decoration:none;">{{ k | ym_to_china }}({{v}})</a></li>
						{% endfor %}
					</ul>
				</li>
				
				<li>
					<h2>Category</h2>
					{% block category %}
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
					{% endblock %}
				</li>
				
				<li>
					<h2>Flink</h2>
					<ul>
						<li><a href="http://www.tonnn.com" target="_blank" style="text-decoration:none;">唐门网页游戏</a></li>
					</ul>
				</li>
			</ul>
		</div>
		{% endblock %}
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<div class="container"><img src="/static/images/img03.png" width="1000" height="40" alt="" /></div>
	<!-- end #page -->
</div>
<div id="footer-content"></div>
<div id="footer">
	<p>Copyright (c) 2014. All rights reserved. Design by jiangnan Zheng.</p>
</div>
{% block footjs %}{% endblock %}
<!-- end #footer -->
</body>
</html>
